PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=db name
DB_PASSWORD=******
DB_NAME=uber

DATABASE_URL=postgresql://uber:DB_USERNAME@localhost:5432/uber


JWT_ACCESS_SECRET=Omar651531534
JWT_REFRESH_SECRET=Elhelaly078933
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d


CLOUDINARY_CLOUD_NAME=dop8r12l2
CLOUDINARY_API_KEY=432867716543159
CLOUDINARY_API_SECRET=***************




GOOGLE_CLIENT_ID=796997064166-3mjj99u8r2dciispch2cl15ur2d37uis.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=********************
Call_Back_URL=http://localhost:3000/api/v1/auth/google/callback



HOST_REDIS=redis-386.c16.us-ww-1-2.ec2.cloud.redislabs.com
PORT_REDIS=19539
USERNAME_REDIS=default
PASSWORD_REDIS=*****************


